.bookcontainer {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensures it takes full width of the container */
    padding: 10px;
}

.bookdiv {
    display: none;
    flex-direction: row;
    align-items: center; /* Vertically centers the image and book details */
    justify-content: left; /* Horizontally centers the content inside each bookdiv */
    padding: 0px;
    margin: 0px;
    width: 60%;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #00000011;
}

.bookContent {
    display: blox;
}

.img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Glow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookDetails {
    flex: 1;
    width: 100%;
}

.title {
    margin: 0 0 10px 0;
}

.author {
    margin: 0 0 5px 0;
}

.buttonContainer {
    margin-left: 10px;
    justify-content: right;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #111; /* Shiny gradient with higher contrast */
    color: white; /* Text color to contrast with the shiny background */
    cursor: pointer;
    margin: 10px;
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3); /* Bright shadow for glow effect */
    transition: background 0.3s ease;
}

.search {
    width: 300px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 10px;
}

.pagecontainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0px;
}

.bookdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 50%; 
    border: 0px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.titleHeader {
    margin: 10px 10px 10px 10px;
}
